.CreationCenter{
  margin: 0 200px;
  margin-top: 50px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;

  &_header{
    height: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(242, 242, 242);

    &_title{
      height: 100%;
      border: none;
      outline: none;
      font-size: 20px;
      width: 800px;

      &::-webkit-input-placeholder{
        color: #ccc;
        font-style: italic;
      }
    }

    &_tips{
      color: #ccc;
    }
  }

  &_content{
    height: 200px;
    &_input{
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      line-height: 25px;

      &::-webkit-input-placeholder{
        color: #ccc;
        font-style: italic;
      }

      &::-webkit-scrollbar{
        width: 8px;
        height: 8px;
      }

       &::-webkit-scrollbar-button{
        display: none;
      }
  
      &::-webkit-scrollbar-thumb{
        background-color: #fff;
        border-radius: 8px;
      }

      &:hover{
        &::-webkit-scrollbar-thumb{
          background-color: #cccccc;
        }
      }
    }
  }

  &_image{

    &_list{
      display: flex;

      &_item{
        width: 250px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-clip: content-box;
        background-size: cover;
        border-radius: 4px;
        background-image: url(../../assets/imgs/main/main01.jpg);
      }
    }
    
  }

  &_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

    &_function{
      display: flex;
      column-gap: 15px;
      align-items: center;

      &_item{
        display: flex;
        column-gap: 5px;
        align-items: center;
        cursor: pointer;
        font-size: 14px;

        img{
          width: 20px;
          height: 20px;
        }
      }
    }

    &_commit{
      border: none;
      background-color: rgb(0, 146, 65);
      padding: 4px 20px;
      color: #fff;
      border-radius: 4px;
    }
  }
}